.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.458);
}

.spin {
    position: absolute;
    top: 50vh;
    left: 48vw;
    color: blue;
}

@media (min-width: 768px) {
  .modal {
    width: 54vw;
    left: calc(50% - 36rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
